{%extends 'base.html'%}
{%block title%}
<title>Mobile Details</title>
{%endblock%}
{%block content%}
    <h1 class="text-center text-primary">Laptop List</h1>
    <table class="table table-dark">
        <thead>
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>Brand</th>
                <th>Price</th>
                <th>Action</th>
    
            </tr>
        </thead>
        <tbody>
            {% for obj in objects %}
            <tr>
                <td>{{obj.mid}}</td>
                <td>{{obj.name}}</td>
                <td>{{obj.brand}}</td>
                <td>{{obj.price}}</td>
        
                <td>
                    <a href="/a1/update/{{obj.mid}}/"><button class="btn btn-success" >Update</button></a>
                    <a href="/a1/delete/{{obj.mid}}/"><button class="btn btn-warning" >Delete</button></a>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>    
{%endblock%}