{%extends 'base.html'%}
{%block title%}
<title>Person Details</title>
{%endblock%}
{%block content%}
    <h1 class="text-center text-primary">Person List</h1>
    <table class="table table-dark">
        <thead>
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>Sports</th>
                <th>Team</th>
                <th>Action</th>
    
            </tr>
        </thead>
        <tbody>
            {% for obj in objects %}
            <tr>
                <td>{{obj.pid}}</td>
                <td>{{obj.name}}</td>
                <td>{{obj.sport}}</td>
                <td>{{obj.team}}</td>
                <td>
                    <a href="/a1/update/{{obj.pid}}/"><button class="btn btn-success" >Update</button></a>
                    <a href="/a1/delete/{{obj.pid}}/"><button class="btn btn-warning" >Delete</button></a>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>    
{%endblock%}